footer {
    font-size: 30px;
    position: fixed;
    bottom: 0;
    left: 600px;

}

.margin {
    margin: 0 10px;
}

.image-section {
    height: 60%;
    width: 70%;
}

img {
    border: 2px solid black;
    border-radius: 25px;

    position: absolute;
    left: 750px;
    
}

.content_article {
    width: 500px;
    text-align: right 30px;
}

.section {
    margin-left: auto;
    margin-right: auto;
    width: 70em;
}

